.container {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header"
    "main main main main";
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "sidebar sidebar search search";
  margin-bottom: 3rem;
}

.search {
  grid-area: search;
}
.sidebar {
  grid-area: sidebar;
}

.main {
  min-height: 45vh;
  grid-area: main;
}

.container_main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem 2rem;
}

.button_select {
  width: 6rem;
  margin-top: 2rem;
  margin-left: 1rem;
  border-radius: 8px;
}
.button_input {
  margin-top: 2rem;
  margin-left: 1rem;
  width: 6rem;
  border-radius: 8px;
}

.search_input {
  margin-top: 2rem;
  width: 60%;
  border: none;
  border-bottom: 1px solid rgba(122, 122, 121, 0.664);
  background: inherit;
}

.search_input:focus {
  background: rgba(233, 233, 233, 0.603);
  border-bottom: 1px solid rgba(122, 122, 121, 0.664);
  border: none;
  box-shadow: none;
}

.search_select {
  padding: 0.4rem;
  margin-left: 100px;
  margin-top: 2rem;
  width: 60%;
  border-radius: 5px;
  background: rgba(233, 233, 233, 0.603);
  color: black;
  
 
}

.search_select,.search_select:focus {
  border: none;
}



.subtitle {
  text-align: center;
  margin-bottom: 3rem;
}

@media (max-width: 1000px) {
  .header {
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-areas:
      "search search search search"
      "sidebar sidebar sidebar sidebar";
  }
  .search_input {
    margin-left: 3rem;
    width: 80%;
  }
  .search_select {
    margin-left: 3rem;
    width: 77%;
  }
}
